[Unit]
Description=REST Service
After=syslog.target

[Service]
User=ec2-user
ExecStart=/opt/jdk-17/bin/java -jar /home/ec2-user/firstapp-1.0.0-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
